.box-layout {
  align-items: center;
  background-size: cover;
  background: url('/images/bg4.jpg');
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  &__box {
    background: fade-out($light-green, .20);
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
  }

  &__title {
    color: $dark-green;
    line-height: 1;
    margin: 0 0 $m-size 0;
  }
}