.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;

  &__item {
    margin-bottom: $s-size;
  }
}


@media (min-width: $desktop-breakpoint) {
  .input-group {
    align-items: center;
    flex-direction: row;
    margin-bottom: $l-size;

    &__item {
      margin: 0 $m-size 0 0;
    }
  }
}