.page-header {
  background-color: $light-green;
  padding: $l-size 0;
  margin-bottom: $l-size;

  &__actions {
    margin-top: $m-size;
  }

  &__title{
    margin: 0;
    font-weight: 300;

    span{
      font-weight: 600;
    }
  }
}