// Colors
$light-purple: #D49A89;
$lightest: #F7D1BA;
$dark-green: #557571;
$light-green: #D6DDD8;
$dark-orange: #A3543D;
$orange: #CE7D5D;
$body: #333;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size:3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;